In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.max_rows = 4000
pd.options.display.float_format = '{:.3f}'.format 
np.set_printoptions(suppress=True, precision=5)

import warnings
warnings.filterwarnings("ignore")

In [4]:
#import
df = pd.read_csv(r'E:\learn st new\Credit score\loan_data_pd_modeling.csv', low_memory= False)
df.head()

,loan_amnt,term,int_rate,grade,verification_status,purpose,dti,revol_bal,revol_util,out_prncp,out_prncp_inv,total_rec_late_fee,recoveries,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,application_type,loan_ending,mths_since_issue,mths_since_last_crt_pull_day
0,"(3950.0, 7400.0]",36,10.650,B,Verified,credit_card,"(23.994, 27.993]",13648,83.700,0.000,0.000,0.000,0.000,171.620,0.000,1,INDIVIDUAL,good,"(60.2, 69.0]","(11.899, 22.1]"
1,"(465.5, 3950.0]",60,15.270,C,Source Verified,car,"(-0.04, 3.999]",1687,9.400,0.000,0.000,0.000,117.080,119.660,0.000,1,INDIVIDUAL,bad,"(60.2, 69.0]","(32.2, 42.3]"
2,"(465.5, 3950.0]",36,15.960,C,Not Verified,small_business,"(7.998, 11.997]",2956,98.500,0.000,0.000,0.000,0.000,649.910,0.000,1,INDIVIDUAL,good,"(60.2, 69.0]","(11.899, 22.1]"
3,"(7400.0, 10850.0]",36,13.490,C,Source Verified,other,"(19.995, 23.994]",5598,21.000,0.000,0.000,16.970,0.000,357.480,0.000,1,INDIVIDUAL,good,"(60.2, 69.0]","(22.1, 32.2]"
4,"(3950.0, 7400.0]",36,7.900,A,Source Verified,wedding,"(7.998, 11.997]",7963,28.300,0.000,0.000,0.000,0.000,161.030,0.000,1,INDIVIDUAL,good,"(60.2, 69.0]","(11.899, 22.1]"

In [5]:
input =df.drop(columns = 'loan_ending')
output = df['loan_ending']

In [7]:
outpt = []
for i in range(0, len(output)):
    if output[i] == 'good':
        outpt.append(1)
    else:
        outpt.append(0)
outpt = pd.DataFrame(outpt, columns = ['loan_pred'])

In [12]:
input1 = pd.get_dummies(data=input, columns=['loan_amnt', 'grade', 'dti','mths_since_issue','mths_since_last_crt_pull_day'])
input1.head()

,term,int_rate,verification_status,purpose,revol_bal,revol_util,out_prncp,out_prncp_inv,total_rec_late_fee,recoveries,...,"mths_since_last_crt_pull_day_(102.9, 113.0]","mths_since_last_crt_pull_day_(11.899, 22.1]","mths_since_last_crt_pull_day_(22.1, 32.2]","mths_since_last_crt_pull_day_(32.2, 42.3]","mths_since_last_crt_pull_day_(42.3, 52.4]","mths_since_last_crt_pull_day_(52.4, 62.5]","mths_since_last_crt_pull_day_(62.5, 72.6]","mths_since_last_crt_pull_day_(72.6, 82.7]","mths_since_last_crt_pull_day_(82.7, 92.8]","mths_since_last_crt_pull_day_(92.8, 102.9]"
0,36,10.650,Verified,credit_card,13648,83.700,0.000,0.000,0.000,0.000,...,0,1,0,0,0,0,0,0,0,0
1,60,15.270,Source Verified,car,1687,9.400,0.000,0.000,0.000,117.080,...,0,0,0,1,0,0,0,0,0,0
2,36,15.960,Not Verified,small_business,2956,98.500,0.000,0.000,0.000,0.000,...,0,1,0,0,0,0,0,0,0,0
3,36,13.490,Source Verified,other,5598,21.000,0.000,0.000,16.970,0.000,...,0,0,1,0,0,0,0,0,0,0
4,36,7.900,Source Verified,wedding,7963,28.300,0.000,0.000,0.000,0.000,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(input1, outpt, test_size=0.2)
#checking  imbalance for training dataset
y_train.value_counts()

In [ ]:
#dealing with imbalanced data
os = RandomOverSampler()
X_train_o, y_train_o = os.fit_resample(X_train, y_train)
y_train_series = pd.Series(y_train_o)
#check value counts after oversampling
y_train_series.value_counts()

In [ ]:
#building logistic regression model
model = LogisticRegression()
model.fit(X_train_o, y_train_o)

In [ ]:
#predicting
y_preds = model.predict(X_test)
#classification report
print(classification_report(y_test, y_preds))

In [ ]:
# get the values required to plot a ROC curve
fpr, tpr, thresholds = roc_curve(y_test_proba['y_test_class_actual'], y_test_proba['y_hat_test_proba'])
# plot the ROC curve
plt.plot(fpr, tpr)
# plot a secondary diagonal line, to plot randomness of model
plt.plot(fpr, fpr, linestyle = '--', color = 'k')
plt.xlabel('False positive rate')
plt.ylabel('True positive rate')
plt.title('ROC curve')